.upload-container{

display:flex;
flex-direction:column;

align-items:center;

margin-top:100px;

}

.upload-container h2{

color:#1b5e20;
margin-bottom:30px;

}

/* form */

.upload-form{

display:flex;
flex-direction:column;

width:350px;

background:white;

padding:30px;

border-radius:8px;

box-shadow:0 5px 20px rgba(0,0,0,0.15);

}

/* inputs */

.upload-form input,
.upload-form select{

padding:12px;

margin-bottom:15px;

border:1px solid #ccc;

border-radius:6px;

}

/* button */

.upload-form button{

padding:12px;

background:#2e7d32;

color:white;

border:none;

border-radius:6px;

cursor:pointer;

}

.upload-form button:hover{

background:#1b5e20;

}